<!-- Componente di 'root' contenitore del campo della selezione 
    con il pulsante di apertura e della dialog stessa.
È il componente che sarà utilizzabile dall'esterno ed è attraverso di questo che verranno passate
tutte le parametrizzazioni -->

<app-lookup-field
  *ngIf="!opened"
  [checkedValues]="checkedValues"
  (checkedSelectionChanged)="onCheckedSelectionChange($event)"
  (isDialogOpenEventChange)="onDialogOpenOrClose($event)"
></app-lookup-field>

<app-lookup-modal
  *ngIf="opened"
  (isDialogOpenEventChange)="onDialogOpenOrClose($event)"
  (checkedValueChange)="onCheckedSelectionChange($event)"
  [enableCheck]="enableCheck"
  [checkChildren]="checkChildren"
  [checkParents]="checkParents"
  [checkOnClick]="checkOnClick"
  [checkMode]="checkMode"
  [rootServiceParam]="rootServiceParam"
  [treeService]="treeService"
  [checkedValues]="checkedValues"
></app-lookup-modal>
