<!-- Componente che visualizza l'intera modale della lookup. 
    Al suo interno ci sono i componenti dell'albero e dell'area di selezione. -->

  <div class="k-overlay" *ngIf="opened"></div>
  <kendo-window title="Items selection" *ngIf="opened" (close)="close()" [minWidth]="300" [width]="600">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 divStyle left-div">

        <!-- Root nodes combobox -->
        <kendo-combobox [ngClass]="'cmbox'"  
          [data]="listRoots" 
          [textField]="'text'"
          [valueField]="'id'"
          [(ngModel)]="selectedRoot"
          [allowCustom]="allowCustom" 
          (selectionChange)="selectionChange($event)"
          (valueChange)="valueChange($event)"
          placeholder="Original Scenarios"></kendo-combobox>

        <!-- Tree component -->
        <app-lookup-tree
          [enableCheck]="enableCheck"
          [checkChildren]="checkChildren"
          [checkParents]="checkParents"
          [checkOnClick]="checkOnClick"
          [checkMode]="checkMode"
          [data]="treeData"
          [checkedKeys]="checkedValues"
          (checkedSelectionChanged)="onTreeValueChange($event)"
        ></app-lookup-tree>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-div">

        <!-- Selection area component -->
        <app-lookup-selection-area
        (checkedSelectionChanged)="onTreeValueChange($event)"
        [selectedValues]="checkedValues"> 


        </app-lookup-selection-area>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="btn-del" (click)="closeOnCancel('no')">Cancel</button>
    <button class="bt-default" (click)="closeOnConfirm('yes')" primary="true">OK</button>
  </div>
</kendo-window>
