<button kendoButton *ngIf="!opened" (click)="open()">Open dialog</button>
<!--<kendo-dialog title="Items selection" *ngIf="opened" (close)="close('cancel')" [minWidth]="500" [minHeight]="500"
	[maxWidth]="700" [maxHeight]="700" [width]="500" [height]="500">-->
<kendo-dialog
  *ngIf="opened"
  (close)="close('cancel')"
  [minWidth]="700"
  [minHeight]="500"
  [maxWidth]="900"
  [maxHeight]="700"
  [width]="500"
  [height]="500"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Items selection</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 divStyle left-div">
        <kendo-treeview
          [nodes]="data"
          textField="text"
          kendoTreeViewExpandable
          kendoTreeViewHierarchyBinding
          childrenField="items"
          [kendoTreeViewCheckable]="checkableSettings"
          class="pt-5"
        >
          <!--<ng-template kendoTreeViewNodeTemplate let-dataItem>
            <input
              class="k-checkbox"
              type="checkbox"
              *ngIf="!hasChildren(dataItem)"
            />
            <span class="k-in">{{dataItem.text}}</span>
          </ng-template>-->
        </kendo-treeview>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-div">
        <p>Selected items:</p>
      </div>
    </div>
    <!--
    <div
      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
      style="margin-bottom:0px;">
      <button (click)="close('no')">Cancel</button>
      <button kendoButton (click)="close('yes')" primary="true">OK</button>
    </div>
    -->
  </div>
  <kendo-dialog-actions>
    <!--<button kendoButton (click)="close('no')">No</button>
		<button kendoButton (click)="close('yes')" 
    primary="true">Yes</button>-->
    <button class="btn-del" (click)="close('no')">Cancel</button>
    <button class="bt-default" (click)="close('yes')" primary="true">OK</button>
  </kendo-dialog-actions>
</kendo-dialog>

<app-tgk-lookup-tree></app-tgk-lookup-tree>

<!-- [filterable]="true" -->