<!-- Componente che contiene l'albero popolato da tutti i dati selezionabili. -->
<kendo-treeview
[nodes]="data"
textField="text"
childrenField="items"
[kendoTreeViewCheckable]="checkableSettings"
class="pt-5"
kendoTreeViewExpandable
kendoTreeViewHierarchyBinding
(change)="onSelectItem($event)"
[(checkedKeys)]="checkedKeys"
[checkBy]="'text'"


>
  <!-- <ng-template kendoTreeViewNodeTemplate let-dataItem>
    <input class="k-checkbox" type="checkbox" *ngIf="!hasChildren(dataItem)" />
    <span class="k-in">{{ dataItem.text }}</span>
  </ng-template> -->
</kendo-treeview>

<!-- <p>valori cecchati: {{checkedKeys.join(",")}}</p> -->
