
.k-treeview,
.k-in {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-color: #ffffff !important;
  transition: none !important;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
}

.k-treeview .k-in:hover{
  background-color: #ffffff !important;
  border: none !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
}

.k-treeview {
  font-size: 0.9rem;
  line-height: 0;
}

.k-checkbox{
  border-radius: 0 !important;
}

.k-in {
  margin-left: 0.22rem;
}

.k-checkbox{
  border-radius: 0px;
}

.k-treeview .k-checkbox-wrapper{
  margin-right:3px;
  margin-bottom:5px;
}

.k-treeview .k-in{
  padding-left:3px;
}

.btn-light{
  margin: 5px;
  min-width: 70px;
  height: 20px;
  font-size: 12px;
  background-color: #ffffff;
  color: #333333;
  border: #ffffff;
  font-weight: 600;
}

.btn-light:hover{
  background-color: #ffffff;
}
