<!-- Componente che contiene l'albero popolato da tutti i dati selezionabili. -->
<!-- <div>  
  <button class="btn-light" (click)="expanded = true"><i class="k-icon k-i-arrow-end-down"></i> Expand all</button>
  <button class="btn-light" (click)="expanded = false"><i class="k-icon k-i-arrow-end-up"></i> Collapse all</button>
</div>   -->
<kendo-treeview
[nodes]="data"
textField="desc"
childrenField="children"
[kendoTreeViewCheckable]="checkableSettings"
class="pt-5"
kendoTreeViewExpandable
kendoTreeViewHierarchyBinding
[isChecked]="isItemChecked"
(checkedChange)="handleChecking($event)"
(expand)="nodeExpandListener($event)"

>

 <!-- <ng-template kendoTreeViewNodeTemplate let-dataItem>
  <input class="k-checkbox" type="checkbox" *ngIf="!hasChildren(dataItem)" (click)="onSelectItem($event)"/>
  <span class="k-in">{{ dataItem.desc }}</span>
</ng-template> -->

</kendo-treeview>



