
.k-treeview,
.k-in {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-color: #ffffff !important;
  transition: none !important;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
}

.k-treeview .k-in:hover{
  background-color: #ffffff !important;
  border: none !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
}

.k-treeview {
  font-size: 0.9rem;
  line-height: 0;
}

.k-checkbox{
  border-radius: 0 !important;
}

.k-in {
  margin-left: 0.22rem;
}
